<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portofolio</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<header>
    <div class="logo">
        <h2>PORTOFOLIO</h2>
    </div>
    <nav>
        <a href="AboutMe">About me</a>
        <a href="Education">Education</a>
        <a href="Project">Project</a>
        <a href="Contact">Contact</a>
    </nav>
</header>

<div class="title">Hai nama saya Ahmad Rijal Khatami, berasal dari Aceh dan berusia 20 tahun</div>
<div class="bottom-line"></div>


</body>
</html>