<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

<header>
    <div class="logo">
        <h2>AHMAD RIJAL KHATAMI</h2>
    </div>
    <nav>
        <a href="AboutMe">About me</a>
        <a href="Education">Education</a>
        <a href="Project">Project</a>
        <a href="Contact">Contact</a>
    </nav>
</header>

<div class="container">
    <img src="/static/foto.jpg" alt="Profile Picture">
    <div class="content">
        <p>Saya merupakan mahasiswa Teknik Elektro di Universitas Padjadjaran dengan ketertarikan mendalam pada bidang elektro, khususnya dalam pengembangan teknologi yang inovatif. Semangat saya untuk terus belajar mendorong saya untuk menggali lebih dalam tentang potensi teknologi elektro dan mengeksplorasi berbagai implementasinya dalam kehidupan sehari-hari.</p>
        <p>Saya tertarik untuk belajar dan berkembang di bidang elektro, Karena bidang elektro mencakup berbagai disiplin yang berhubungan dengan kelistrikan, kontrol sistem, dan pengolahan sinyal, yang semuanya sangat relevan dengan otomotif dan energi hijau. Dalam balapan F1, misalnya, sistem kelistrikan digunakan untuk mengontrol berbagai aspek performa mobil, sedangkan di sektor energi hijau, elektro berperan dalam pengelolaan energi terbarukan seperti kendaraan listrik atau panel surya. Oleh karena itu, kedua bidang tersebut sangat erat kaitannya dengan perkembangan di bidang elektro.</p>
    </div>
</div>
<div class="bottom-line"></div>

</body>
</html>