<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Work Experience</title>
    <link rel="stylesheet" href="/static/css/project.css">
</head>
<body>

<header>
    <div class="logo">
        <h2>AHMAD RIJAL KHATAMI</h2>
    </div>
    <nav>
        <a href="aboutme.html">About me</a>
        <a href="education.html">Education</a>
        <a href="project.html">Project</a>
        <a href="contact.html">Contact</a>
    </nav>
    
</header>

<div class="container">
    <div class="image-section left">
        <img src="/static/flash.jpg" alt="Project Image">
    </div>
    <div class="content-section">
        <h1>WORK EXPERIENCE</h1>
        <div class="job">
            <div class="job-title">2002 | SMA Negeri Modal Bangsa | PJ Fotografi FLASH 2022</div>
            
        </div>
        <div class="job">
            <div class="job-title">2024-Sekarang | HMTE | Staff Keprofesian</div>
            
        </div>
        
    </div>
    <div class="image-section right">
        <img src="/static/hmte.jpg" alt="BFF Image">
    </div>
</div>

<div class="bottom-line"></div>

</body>
</html>